In [1]:
import numpy as np
import pandas as pd

In [2]:
pd.set_option("max_rows", 50)

In [3]:
dt = pd.read_csv("train.csv")

In [4]:
dt.head()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [5]:
dt.columns

Index(['Id', 'DistrictId', 'Rooms', 'Square', 'LifeSquare', 'KitchenSquare',
       'Floor', 'HouseFloor', 'HouseYear', 'Ecology_1', 'Ecology_2',
       'Ecology_3', 'Social_1', 'Social_2', 'Social_3', 'Healthcare_1',
       'Helthcare_2', 'Shops_1', 'Shops_2', 'Price'],
      dtype='object')

In [6]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Healthcare_1     5202 non-null float64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

#### 1.Удалим строку 'Healthcare_1', поскольку в ней отсутсвуют около половины всех значений.

In [7]:
dt = dt.drop(['Healthcare_1'], axis=1)

In [8]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       7887 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

##### 2. Также отсутствует около четверти всех значений "LifeSquare". Как мне кажется, эти значения можно взять из "Square"

In [9]:
dt.loc[dt['LifeSquare'].isnull(), 'LifeSquare'] = dt.loc[dt['LifeSquare'].isnull(), 'Square']

In [10]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 19 columns):
Id               10000 non-null int64
DistrictId       10000 non-null int64
Rooms            10000 non-null float64
Square           10000 non-null float64
LifeSquare       10000 non-null float64
KitchenSquare    10000 non-null float64
Floor            10000 non-null int64
HouseFloor       10000 non-null float64
HouseYear        10000 non-null int64
Ecology_1        10000 non-null float64
Ecology_2        10000 non-null object
Ecology_3        10000 non-null object
Social_1         10000 non-null int64
Social_2         10000 non-null int64
Social_3         10000 non-null int64
Helthcare_2      10000 non-null int64
Shops_1          10000 non-null int64
Shops_2          10000 non-null object
Price            10000 non-null float64
dtypes: float64(7), int64(9), object(3)
memory usage: 1.4+ MB

In [11]:
dt.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,8383.40770,50.400800,1.890500,56.315775,42.091874,6.273300,8.526700,12.609400,3.990166e+03,0.118858,24.687000,5352.157400,8.039200,1.319500,4.231300,214138.857399
std,4859.01902,43.587592,0.839512,21.058732,77.880874,28.560917,5.241148,6.775974,2.005003e+05,0.119025,17.532614,4006.799803,23.831875,1.493601,4.806341,92872.293865
min,0.00000,0.000000,0.000000,1.136859,0.370619,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4169.50000,20.000000,1.000000,41.774881,25.506959,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153872.633942
50%,8394.50000,36.000000,2.000000,52.513310,37.562685,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.50000,75.000000,2.000000,65.900625,50.098049,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249135.462171
max,16798.00000,209.000000,19.000000,641.065193,7480.592129,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

#### 4. Проверим все квартиры, площадь которых меньше 20 квадратов.

In [12]:
dt.loc[dt['Square']< 20]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
212,1748,88,2.0,5.497061,67.628717,1.0,24,22.0,1977,0.127376,B,B,43,8429,3,3,9,B,412511.088764
1316,11526,27,1.0,4.633498,1.969969,1.0,18,1.0,1977,0.011654,B,B,4,915,0,0,0,B,107604.269441
1608,10202,6,1.0,2.596351,4.604943,1.0,3,25.0,2014,0.243205,B,B,5,1564,0,0,0,B,137597.601458
1891,13685,0,1.0,17.498542,13.446544,0.0,7,5.0,1961,0.319809,B,B,25,4756,16,5,8,B,88871.750230
3166,15127,150,1.0,17.046188,20.036232,8.0,7,12.0,1982,0.300323,B,B,52,10311,6,1,9,B,74222.110465
3280,10527,27,1.0,4.380726,40.805837,1.0,10,17.0,2013,0.211401,B,B,9,1892,0,0,1,B,97560.720383
3413,9487,5,1.0,5.129222,5.549458,1.0,1,1.0,1977,0.150818,B,B,16,3433,4,4,5,B,369472.403061
3794,523,101,1.0,18.509177,15.170851,3.0,5,5.0,1970,0.225825,A,B,41,6558,7,3,2,B,115845.861527
4739,12676,81,3.0,13.784865,15.988889,7.0,4,5.0,1960,0.319809,B,B,25,4756,16,5,8,B,78388.806186
4853,3224,27,0.0,2.377248,0.873147,0.0,1,0.0,1977,0.017647,B,B,2,469,0,0,0,B,126596.941798
4900,4504,27,3.0,4.390331,5.610772,1.0,8,19.0,2016,0.211401,B,B,9,1892,0,0,1,B,161379.067034
5617,15877,57,3.0,16.547242,16.698571,8.0,5,5.0,1962,0.133215,B,B,49,11395,3,3,4,A,77835.185808
6392,14786,1,1.0,1.136859,4.525736,1.0,3,1.0,1977,0.007122,B,B,1,264,0,0,1,B,181434.825589
6945,12927,62,2.0,17.414181,17.414181,1.0,4,20.0,1977,0.072158,B,B,2,629,1,0,0,A,180750.471749
7767,6927,21,1.0,16.117154,8.822988,0.0,2,5.0,1965,0.194489,B,B,47,8004,3,3,5,B,79913.267856
7897,10635,21,1.0,18.983962,11.419796,2.0,1,5.0,1967,0.194489,B,B,47,8004,3,3,5,B,112411.221700
8030,13265,1,3.0,4.823679,79.767964,0.0,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,237716.681261
8283,15744,34,1.0,1.988943,2.642219,1.0,21,4.0,1977,0.069753,B,B,53,13670,4,1,11,B,458378.777006
9294,6782,45,1.0,2.954309,5.257278,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,438005.182323
9516,14236,0,1.0,19.927423,15.541536,0.0,2,5.0,1962,0.319809,B,B,25,4756,16,5,8,B,102395.788856
9613,7657,38,1.0,4.502784,4.618547,1.0,28,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,483283.488083

####  5. В списке присутсвтуют квартиры и по 13-20 кв.м, которые, вероятно, представляют из себя квартиры студии или коммуналки. Все, что меньше 13 кв.м. можно убрать как не представляющие из себя интерес.

In [13]:
dt = dt[dt.Square > 13]

In [14]:
dt.loc[dt['Square'] < 20]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1891,13685,0,1.0,17.498542,13.446544,0.0,7,5.0,1961,0.319809,B,B,25,4756,16,5,8,B,88871.750230
3166,15127,150,1.0,17.046188,20.036232,8.0,7,12.0,1982,0.300323,B,B,52,10311,6,1,9,B,74222.110465
3794,523,101,1.0,18.509177,15.170851,3.0,5,5.0,1970,0.225825,A,B,41,6558,7,3,2,B,115845.861527
4739,12676,81,3.0,13.784865,15.988889,7.0,4,5.0,1960,0.319809,B,B,25,4756,16,5,8,B,78388.806186
5617,15877,57,3.0,16.547242,16.698571,8.0,5,5.0,1962,0.133215,B,B,49,11395,3,3,4,A,77835.185808
6945,12927,62,2.0,17.414181,17.414181,1.0,4,20.0,1977,0.072158,B,B,2,629,1,0,0,A,180750.471749
7767,6927,21,1.0,16.117154,8.822988,0.0,2,5.0,1965,0.194489,B,B,47,8004,3,3,5,B,79913.267856
7897,10635,21,1.0,18.983962,11.419796,2.0,1,5.0,1967,0.194489,B,B,47,8004,3,3,5,B,112411.221700
9516,14236,0,1.0,19.927423,15.541536,0.0,2,5.0,1962,0.319809,B,B,25,4756,16,5,8,B,102395.788856

#### 6. Проверим также все квартиры, где жилая площадь значительно разнится с общей площадью или близка к нулю. Установим для таких квартир жилую площадь равную минимальной в выборке - 11 квадратов.

In [15]:
dt.loc[(dt['LifeSquare'] < 11)]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3.0,106.958871,0.641822,0.0,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
95,4280,34,2.0,61.334968,4.091945,1.0,26,1.0,2014,0.069753,B,B,53,13670,4,1,11,B,286564.441972
134,12613,6,2.0,65.496674,5.589324,1.0,5,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,180727.643541
158,16779,27,3.0,51.991064,4.896202,1.0,22,25.0,1977,0.072158,B,B,2,629,1,0,0,A,174687.566186
160,3522,6,1.0,66.419841,3.987101,1.0,2,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,193361.229815
270,15215,17,1.0,46.692974,5.941401,1.0,7,1.0,2015,0.000000,B,B,18,3374,5,1,2,B,212290.684086
279,8727,1,2.0,79.521221,4.634049,1.0,5,1.0,2017,0.007122,B,B,1,264,0,0,1,B,232726.628137
363,15751,9,1.0,44.171793,1.251846,1.0,11,18.0,2017,0.161532,B,B,25,5648,1,2,4,B,134910.715588
475,6333,27,2.0,64.049695,4.008230,1.0,5,5.0,2017,0.017647,B,B,2,469,0,0,0,B,189477.560210
477,8849,45,1.0,63.419553,2.286357,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,325600.765809
527,2141,56,1.0,53.733677,4.323046,1.0,24,1.0,2015,0.000000,B,B,23,5067,4,2,6,B,208773.977243
560,8149,6,2.0,71.904226,4.171094,1.0,9,25.0,2015,0.243205,B,B,5,1564,0,0,0,B,184050.456761
655,34,6,3.0,78.380053,4.003157,1.0,23,25.0,2019,0.243205,B,B,5,1564,0,0,0,B,206647.245666
674,10631,88,1.0,42.571618,1.941521,1.0,6,1.0,1977,0.127376,B,B,43,8429,3,3,9,B,130374.241595
682,2913,34,4.0,94.888593,2.637095,1.0,4,1.0,2018,0.069753,B,B,53,13670,4,1,11,B,346949.506507
683,15091,27,2.0,66.535842,1.638083,1.0,6,1.0,1977,0.017647,B,B,2,469,0,0,0,B,175067.233991
695,1867,30,1.0,54.626206,4.651397,1.0,4,3.0,1977,0.000078,B,B,22,6398,141,3,23,B,87456.520038
707,4345,62,1.0,49.275155,1.377284,1.0,5,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
734,4319,62,1.0,51.815214,4.203073,1.0,6,1.0,1977,0.072158,B,B,2,629,1,0,0,A,137880.620962
751,11989,62,3.0,104.446306,1.451067,1.0,12,15.0,2015,0.072158,B,B,2,629,1,0,0,A,223692.672480
765,7060,27,1.0,38.651043,5.822657,1.0,7,17.0,1977,0.011654,B,B,4,915,0,0,0,B,103210.010325
850,2470,6,1.0,43.312025,1.404493,1.0,11,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,128588.741321
882,1250,53,2.0,56.290825,5.142822,1.0,2,19.0,1977,0.049637,B,B,34,7759,0,1,3,B,294282.721375
1169,14866,6,1.0,38.818170,5.927865,1.0,18,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,131405.866884
1175,3527,9,1.0,72.035396,2.358992,1.0,5,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,191744.615408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8601,467,9,2.0,45.924840,2.907493,1.0,10,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,124016.667294
8615,6814,52,2.0,66.544692,2.179808,1.0,2,17.0,2018,0.371149,B,B,34,7065,1,2,5,B,183784.694445
8711,8601,6,3.0,80.968060,1.239622,1.0,6,17.0,2017,0.243205,B,B,5,1564,0,0,0,B,217669.112875
8715,1936,74,1.0,53.835574,1.185864,0.0,7,7.0,2018,0.075779,B,B,6,1437,3,0,2,B,185976.351147
8855,4512,9,2.0,64.977910,5.768457,1.0,11,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,194036.364634
8882,14112,23,2.0,53.043172,4.855507,1.0,4,1.0,1977,0.034656,B,B,0,168,0,0,0,B,89801.732879
8886,2056,9,1.0,47.301790,5.125908,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,138880.254465
8908,10684,22,1.0,41.872590,2.347250,1.0,3,1.0,1977,0.118537,B,B,30,6207,1,1,0,B,136609.809831
8971,6749,23,2.0,65.204976,2.467002,0.0,9,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,167560.543204
8973,14254,27,2.0,73.275697,2.861966,1.0,2,25.0,1977,0.072158,B,B,2,629,1,0,0,A,171980.001444
9177,13951,45,1.0,39.225914,2.372105,1.0,24,24.0,2017,0.195781,B,B,23,5212,6,3,2,B,271893.118572
9192,1754,6,1.0,61.978423,3.943299,1.0,1,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,177116.339701
9264,5458,9,2.0,62.920673,1.591420,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,180234.142008
9291,15165,74,2.0,83.259565,5.387263,1.0,12,1.0,2017,0.309479,B,B,35,7715,4,0,6,B,260852.230977
9299,8687,48,1.0,42.840915,2.608669,1.0,19,17.0,1977,0.041125,B,B,46,9515,5,1,10,B,236378.466217
9316,15449,6,2.0,62.548496,3.645893,1.0,16,25.0,2017,0.243205,B,B,5,1564,0,0,0,B,191217.348124
9396,3745,30,1.0,42.457169,3.259832,1.0,10,25.0,2014,0.000078,B,B,22,6398,141,3,23,B,155348.833619
9576,7389,23,1.0,52.028804,4.295819,0.0,8,9.0,1977,0.014073,B,B,2,475,0,0,0,B,98638.755928
9602,5112,6,2.0,63.591740,0.795539,10.0,17,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,174741.998061
9748,14053,27,2.0,56.564445,2.616535,1.0,7,12.0,2015,0.011654,B,B,4,915,0,0,0,B,141086.005616
9756,13583,27,2.0,58.943039,3.319486,1.0,11,17.0,2017,0.011654,B,B,4,915,0,0,0,B,142789.948977
9813,2040,62,1.0,122.438148,5.751401,1.0,2,3.0,1977,0.072158,B,B,2,629,1,0,0,A,224900.897679
9828,13630,24,3.0,127.141143,4.811405,1.0,3,1.0,2017,0.111627,B,B,50,12238,8,2,3,B,611250.912034
9888,6053,6,1.0,41.314775,5.005477,1.0,9,17.0,2016,0.243205,B,B,5,1564,0,0,0,B,159149.515475
9954,583,27,3.0,84.250710,4.187885,1.0,15,1.0,2016,0.072158,B,B,2,629,1,0,0,A,236647.781363

In [16]:
dt.loc[dt['LifeSquare'] < 11, ['LifeSquare']] = 11

In [17]:
dt.loc[dt['LifeSquare'] == 11]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
26,4378,27,3.0,106.958871,11.0,0.0,17,0.0,2018,0.072158,B,B,2,629,1,0,0,A,337299.867936
95,4280,34,2.0,61.334968,11.0,1.0,26,1.0,2014,0.069753,B,B,53,13670,4,1,11,B,286564.441972
134,12613,6,2.0,65.496674,11.0,1.0,5,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,180727.643541
158,16779,27,3.0,51.991064,11.0,1.0,22,25.0,1977,0.072158,B,B,2,629,1,0,0,A,174687.566186
160,3522,6,1.0,66.419841,11.0,1.0,2,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,193361.229815
270,15215,17,1.0,46.692974,11.0,1.0,7,1.0,2015,0.000000,B,B,18,3374,5,1,2,B,212290.684086
279,8727,1,2.0,79.521221,11.0,1.0,5,1.0,2017,0.007122,B,B,1,264,0,0,1,B,232726.628137
363,15751,9,1.0,44.171793,11.0,1.0,11,18.0,2017,0.161532,B,B,25,5648,1,2,4,B,134910.715588
475,6333,27,2.0,64.049695,11.0,1.0,5,5.0,2017,0.017647,B,B,2,469,0,0,0,B,189477.560210
477,8849,45,1.0,63.419553,11.0,1.0,3,1.0,1977,0.195781,B,B,23,5212,6,3,2,B,325600.765809
527,2141,56,1.0,53.733677,11.0,1.0,24,1.0,2015,0.000000,B,B,23,5067,4,2,6,B,208773.977243
560,8149,6,2.0,71.904226,11.0,1.0,9,25.0,2015,0.243205,B,B,5,1564,0,0,0,B,184050.456761
655,34,6,3.0,78.380053,11.0,1.0,23,25.0,2019,0.243205,B,B,5,1564,0,0,0,B,206647.245666
674,10631,88,1.0,42.571618,11.0,1.0,6,1.0,1977,0.127376,B,B,43,8429,3,3,9,B,130374.241595
682,2913,34,4.0,94.888593,11.0,1.0,4,1.0,2018,0.069753,B,B,53,13670,4,1,11,B,346949.506507
683,15091,27,2.0,66.535842,11.0,1.0,6,1.0,1977,0.017647,B,B,2,469,0,0,0,B,175067.233991
695,1867,30,1.0,54.626206,11.0,1.0,4,3.0,1977,0.000078,B,B,22,6398,141,3,23,B,87456.520038
707,4345,62,1.0,49.275155,11.0,1.0,5,1.0,2020,0.072158,B,B,2,629,1,0,0,A,135353.885620
734,4319,62,1.0,51.815214,11.0,1.0,6,1.0,1977,0.072158,B,B,2,629,1,0,0,A,137880.620962
751,11989,62,3.0,104.446306,11.0,1.0,12,15.0,2015,0.072158,B,B,2,629,1,0,0,A,223692.672480
765,7060,27,1.0,38.651043,11.0,1.0,7,17.0,1977,0.011654,B,B,4,915,0,0,0,B,103210.010325
850,2470,6,1.0,43.312025,11.0,1.0,11,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,128588.741321
882,1250,53,2.0,56.290825,11.0,1.0,2,19.0,1977,0.049637,B,B,34,7759,0,1,3,B,294282.721375
1169,14866,6,1.0,38.818170,11.0,1.0,18,17.0,1977,0.243205,B,B,5,1564,0,0,0,B,131405.866884
1175,3527,9,1.0,72.035396,11.0,1.0,5,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,191744.615408
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8601,467,9,2.0,45.924840,11.0,1.0,10,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,124016.667294
8615,6814,52,2.0,66.544692,11.0,1.0,2,17.0,2018,0.371149,B,B,34,7065,1,2,5,B,183784.694445
8711,8601,6,3.0,80.968060,11.0,1.0,6,17.0,2017,0.243205,B,B,5,1564,0,0,0,B,217669.112875
8715,1936,74,1.0,53.835574,11.0,0.0,7,7.0,2018,0.075779,B,B,6,1437,3,0,2,B,185976.351147
8855,4512,9,2.0,64.977910,11.0,1.0,11,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,194036.364634
8882,14112,23,2.0,53.043172,11.0,1.0,4,1.0,1977,0.034656,B,B,0,168,0,0,0,B,89801.732879
8886,2056,9,1.0,47.301790,11.0,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,138880.254465
8908,10684,22,1.0,41.872590,11.0,1.0,3,1.0,1977,0.118537,B,B,30,6207,1,1,0,B,136609.809831
8971,6749,23,2.0,65.204976,11.0,0.0,9,17.0,1977,0.075779,B,B,6,1437,3,0,2,B,167560.543204
8973,14254,27,2.0,73.275697,11.0,1.0,2,25.0,1977,0.072158,B,B,2,629,1,0,0,A,171980.001444
9177,13951,45,1.0,39.225914,11.0,1.0,24,24.0,2017,0.195781,B,B,23,5212,6,3,2,B,271893.118572
9192,1754,6,1.0,61.978423,11.0,1.0,1,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,177116.339701
9264,5458,9,2.0,62.920673,11.0,1.0,7,1.0,1977,0.161532,B,B,25,5648,1,2,4,B,180234.142008
9291,15165,74,2.0,83.259565,11.0,1.0,12,1.0,2017,0.309479,B,B,35,7715,4,0,6,B,260852.230977
9299,8687,48,1.0,42.840915,11.0,1.0,19,17.0,1977,0.041125,B,B,46,9515,5,1,10,B,236378.466217
9316,15449,6,2.0,62.548496,11.0,1.0,16,25.0,2017,0.243205,B,B,5,1564,0,0,0,B,191217.348124
9396,3745,30,1.0,42.457169,11.0,1.0,10,25.0,2014,0.000078,B,B,22,6398,141,3,23,B,155348.833619
9576,7389,23,1.0,52.028804,11.0,0.0,8,9.0,1977,0.014073,B,B,2,475,0,0,0,B,98638.755928
9602,5112,6,2.0,63.591740,11.0,10.0,17,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,174741.998061
9748,14053,27,2.0,56.564445,11.0,1.0,7,12.0,2015,0.011654,B,B,4,915,0,0,0,B,141086.005616
9756,13583,27,2.0,58.943039,11.0,1.0,11,17.0,2017,0.011654,B,B,4,915,0,0,0,B,142789.948977
9813,2040,62,1.0,122.438148,11.0,1.0,2,3.0,1977,0.072158,B,B,2,629,1,0,0,A,224900.897679
9828,13630,24,3.0,127.141143,11.0,1.0,3,1.0,2017,0.111627,B,B,50,12238,8,2,3,B,611250.912034
9888,6053,6,1.0,41.314775,11.0,1.0,9,17.0,2016,0.243205,B,B,5,1564,0,0,0,B,159149.515475
9954,583,27,3.0,84.250710,11.0,1.0,15,1.0,2016,0.072158,B,B,2,629,1,0,0,A,236647.781363

#### 7. Проверим все квартиры, Жилая площадь которых больше общей площади. Здесь я допустил вариант, при котором человек попросту перепутал поля ввода. Для этого поменяем местами эти значения.

In [18]:
dt.loc[dt['LifeSquare'] > dt['Square']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
28,8054,23,1.0,42.530043,43.967759,1.0,3,9.0,2014,0.034656,B,B,0,168,0,0,0,B,95338.198549
44,10521,38,3.0,104.211396,106.340403,0.0,20,0.0,2017,0.060753,B,B,15,2787,2,0,7,B,435462.048070
52,2301,1,2.0,61.400054,65.224603,0.0,17,22.0,2016,0.007122,B,B,1,264,0,0,1,B,199215.452229
123,8753,25,3.0,85.952306,89.803753,1.0,4,3.0,2017,0.069753,B,B,53,13670,4,1,11,B,309688.592681
153,9870,62,1.0,51.831473,53.491301,1.0,5,1.0,2015,0.072158,B,B,2,629,1,0,0,A,131797.472284
178,2416,57,1.0,29.298168,29.770784,5.0,7,5.0,1964,0.133215,B,B,49,11395,3,3,4,A,148991.265200
184,3398,74,1.0,48.743665,51.011232,1.0,12,20.0,2017,0.075779,B,B,6,1437,3,0,2,B,165071.825722
217,5540,27,3.0,57.643613,59.425078,9.0,16,10.0,1977,0.072158,B,B,2,629,1,0,0,A,198351.892455
234,12633,27,3.0,81.867166,81.884548,0.0,12,19.0,1977,0.211401,B,B,9,1892,0,0,1,B,182228.520030
236,3916,1,1.0,43.084413,47.071617,1.0,9,7.0,2017,0.007122,B,B,1,264,0,0,1,B,169749.173815
237,3851,52,2.0,65.388475,66.591815,1.0,13,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,180706.641204
271,7674,30,2.0,51.283020,51.575295,1.0,5,17.0,1977,0.000078,B,B,22,6398,141,3,23,B,174735.177184
315,14899,27,1.0,37.370830,39.184607,1.0,25,1.0,2015,0.072158,B,B,2,629,1,0,0,A,126997.374189
342,7815,6,1.0,74.609609,78.533293,1.0,16,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,216181.637056
343,716,113,3.0,125.287183,127.477137,19.0,26,24.0,2017,0.050756,B,B,24,5469,1,0,1,B,522197.035995
358,6006,62,3.0,121.844004,122.497641,1.0,3,3.0,1977,0.072158,B,B,2,629,1,0,0,A,193847.642016
369,61,1,1.0,54.307727,55.926217,1.0,4,1.0,2017,0.007122,B,B,1,264,0,0,1,B,170313.288861
378,15443,1,1.0,37.885188,40.313322,10.0,12,17.0,1977,0.007122,B,B,1,264,0,0,1,B,142654.169709
379,8104,52,1.0,37.496336,38.964704,10.0,7,17.0,1977,0.371149,B,B,34,7065,1,2,5,B,105567.296556
392,15246,1,2.0,64.067854,65.081193,1.0,12,24.0,1977,0.007122,B,B,1,264,0,0,1,B,219119.838433
401,2123,58,3.0,93.905616,94.958481,1.0,3,12.0,1977,0.437885,B,B,23,5735,3,0,5,B,209500.276014
478,10391,62,1.0,37.498161,40.371530,1.0,21,25.0,1977,0.072158,B,B,2,629,1,0,0,A,131037.880968
495,10071,27,2.0,34.665783,36.079447,9.0,3,12.0,2016,0.072158,B,B,2,629,1,0,0,A,103182.855154
498,12796,6,1.0,59.816412,60.823136,1.0,24,1.0,1977,0.243205,B,B,5,1564,0,0,0,B,175042.816715
506,9552,23,1.0,105.432181,106.178175,0.0,3,2.0,1977,0.014073,B,B,2,475,0,0,0,B,218718.046451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9584,8403,9,2.0,56.690554,56.917296,1.0,8,9.0,1977,0.161532,B,B,25,5648,1,2,4,B,178622.857430
9589,16638,38,1.0,106.260300,109.246660,1.0,4,1.0,1977,0.060753,B,B,15,2787,2,0,7,B,509162.416594
9594,7113,62,1.0,43.906426,44.082779,1.0,13,12.0,2017,0.072158,B,B,2,629,1,0,0,A,113398.504559
9595,7249,6,3.0,73.171947,74.858927,1.0,7,1.0,2016,0.243205,B,B,5,1564,0,0,0,B,198935.416918
9597,833,27,1.0,44.260288,45.602761,10.0,3,7.0,2015,0.011654,B,B,4,915,0,0,0,B,127451.321192
9626,3742,1,1.0,53.258610,56.655126,0.0,6,17.0,1977,0.007122,B,B,1,264,0,0,1,B,161799.240623
9630,10021,27,1.0,41.755282,41.857484,1.0,13,20.0,2014,0.211401,B,B,9,1892,0,0,1,B,94667.059626
9646,6996,23,2.0,53.054415,54.677693,1.0,3,12.0,2017,0.034656,B,B,0,168,0,0,0,B,113758.662147
9681,47,2,2.0,45.053898,47.329346,5.0,2,5.0,1967,0.000000,B,B,33,7425,1,2,5,B,196512.596034
9707,12302,30,1.0,46.072913,48.307844,0.0,4,0.0,1977,0.000078,B,B,22,6398,141,3,23,B,161403.094034
9721,396,54,3.0,110.119100,110.333763,1.0,8,1.0,2015,0.006076,B,B,30,5285,0,6,6,B,491296.245173
9742,9941,46,3.0,64.642890,66.400030,6.0,6,17.0,1981,0.188784,B,B,31,6137,4,0,1,B,283398.090350
9772,6968,6,3.0,74.505045,75.735479,1.0,15,22.0,2014,0.243205,B,B,5,1564,0,0,0,B,210702.868554
9793,5766,1,3.0,80.006748,83.793062,0.0,17,17.0,1977,0.007122,B,B,1,264,0,0,1,B,235519.716480
9799,7483,27,1.0,37.590772,41.074410,1.0,5,19.0,2017,0.211401,B,B,9,1892,0,0,1,B,95145.924046
9807,10088,30,1.0,37.191204,37.837798,1.0,17,17.0,1977,0.000078,B,B,22,6398,141,3,23,B,147568.713397
9826,5270,6,1.0,39.485203,39.525667,1.0,16,17.0,2014,0.243205,B,B,5,1564,0,0,0,B,124034.514085
9864,8807,38,1.0,46.905050,49.715060,10.0,8,17.0,2019,0.060753,B,B,15,2787,2,0,7,B,256650.658085
9871,6121,48,1.0,41.783808,41.944790,1.0,17,1.0,2014,0.041125,B,B,46,9515,5,1,10,B,200879.624324
9878,11441,62,2.0,71.985335,72.453232,0.0,5,0.0,1977,0.072158,B,B,2,629,1,0,0,A,158841.624543
9884,41,30,2.0,59.015896,59.439082,12.0,5,5.0,2016,0.000078,B,B,22,6398,141,3,23,B,126281.142781
9889,12918,23,2.0,51.440463,53.134243,51.0,3,17.0,2017,0.005767,B,B,1,388,0,0,0,B,88150.012510
9895,2737,27,3.0,123.430072,125.806981,123.0,5,10.0,2015,0.017647,B,B,2,469,0,0,0,B,234194.837047
9902,14001,73,1.0,44.098768,44.267551,1.0,7,24.0,2014,0.042032,B,B,37,6856,84,2,5,B,381937.404161
9910,16568,27,4.0,200.334539,201.627361,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [19]:
dt.loc[dt['LifeSquare'] > dt['Square'], ['Square', 'LifeSquare']] = dt.loc[dt['LifeSquare'] > dt['Square'], ['LifeSquare', 'Square']].values

In [20]:
dt.loc[dt['LifeSquare'] > dt['Square']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [21]:
dt.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9.988000e+03,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000
mean,8382.521526,50.428714,1.891169,57.269405,41.377589,6.279836,8.524329,12.613636,3.992574e+03,0.118869,24.698538,5354.503704,8.046956,1.319984,4.232579,214074.592805
std,4859.601396,43.598871,0.839277,77.339018,22.213328,28.577445,5.233997,6.770968,2.006207e+05,0.119058,17.530997,4006.425612,23.845030,1.493597,4.807381,92772.458841
min,0.000000,0.000000,0.000000,15.988889,11.000000,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.750000,20.000000,1.000000,41.882259,25.566020,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153891.653482
50%,8393.500000,36.000000,2.000000,52.665690,37.471217,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.500000,75.000000,2.000000,66.005696,49.956390,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249100.769116
max,16798.000000,209.000000,19.000000,7480.592129,638.163193,2014.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

#### 8. Проверим все квартиры с ненормально большой квадратурой. Подозрение вызывает только одна квартира с ID 16550, на лицо видна опечатка.

In [22]:
dt.loc[dt['Square'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
590,14990,23,2.0,263.542020,48.449873,5.0,6,5.0,1972,0.075779,B,B,6,1437,3,0,2,B,141780.231857
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
4262,28,9,2.0,604.705972,604.705972,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4328,16550,27,3.0,7480.592129,81.694417,1.0,9,17.0,2016,0.017647,B,B,2,469,0,0,0,B,217357.492366
4690,2307,102,1.0,410.639749,409.425181,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562
8437,15886,85,3.0,461.463614,78.059331,10.0,12,16.0,1998,0.037178,B,B,52,11217,1,1,7,B,394253.299978
9910,16568,27,4.0,201.627361,200.334539,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [23]:
dt.loc[dt['Square'] > 1000,['Square']]=dt.loc[dt['Square'] > 1000, ['Square']]*0.01

In [24]:
dt.loc[dt['Square'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
590,14990,23,2.0,263.542020,48.449873,5.0,6,5.0,1972,0.075779,B,B,6,1437,3,0,2,B,141780.231857
1981,7917,27,0.0,212.932361,211.231125,0.0,2,3.0,2008,0.211401,B,B,9,1892,0,0,1,B,302211.260887
1982,5548,86,5.0,275.645284,233.949309,26.0,12,37.0,2011,0.161976,B,A,31,7010,5,3,7,B,455264.882666
4262,28,9,2.0,604.705972,604.705972,1.0,17,18.0,1977,0.161532,B,B,25,5648,1,2,4,B,187717.242538
4690,2307,102,1.0,410.639749,409.425181,10.0,4,4.0,2016,0.238617,B,B,26,3889,6,3,6,B,90470.430830
6977,11602,30,2.0,641.065193,638.163193,10.0,20,19.0,2019,0.000078,B,B,22,6398,141,3,23,B,133529.681562
8437,15886,85,3.0,461.463614,78.059331,10.0,12,16.0,1998,0.037178,B,B,52,11217,1,1,7,B,394253.299978
9910,16568,27,4.0,201.627361,200.334539,25.0,1,2.0,2013,0.041116,B,B,53,14892,4,1,4,B,528560.506016

In [25]:
dt.loc[dt['KitchenSquare'] > 200]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1064,14656,62,1.0,47.100719,46.447960,2014.0,4,1.0,2014,0.072158,B,B,2,629,1,0,0,A,108337.484207
8584,14679,81,1.0,32.276663,19.278394,1970.0,6,1.0,1977,0.006076,B,B,30,5285,0,6,6,B,105539.556275

In [26]:
dt.loc[dt['KitchenSquare'] > 200, ['KitchenSquare']] = dt.loc[dt['KitchenSquare'] > 200, ['KitchenSquare']]*0.01

In [27]:
dt.loc[dt['KitchenSquare'] > 200]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [28]:
dt.loc[dt['KitchenSquare'] > dt['Square']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
5149,13703,42,1.0,38.071692,19.723548,73.0,9,10.0,2006,0.158249,B,B,21,5731,0,1,0,B,160488.033165
7088,6569,27,1.0,38.220258,18.716856,84.0,4,17.0,2018,0.011654,B,B,4,915,0,0,0,B,99079.960518

In [29]:
dt.loc[dt['KitchenSquare'] > dt['Square'], ['KitchenSquare']] = dt.loc[dt['KitchenSquare'] > dt['Square'], ['KitchenSquare']]*0.1

In [30]:
dt.loc[dt['KitchenSquare'] > dt['Square']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### 9. Проверим значения этажности квартир, сопоставим их со значением этажности дома.

In [31]:
dt.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9.988000e+03,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000
mean,8382.521526,50.428714,1.891169,56.527937,41.377589,5.870799,8.524329,12.613636,3.992574e+03,0.118869,24.698538,5354.503704,8.046956,1.319984,4.232579,214074.592805
std,4859.601396,43.598871,0.839277,21.518819,22.213328,5.074437,5.233997,6.770968,2.006207e+05,0.119058,17.530997,4006.425612,23.845030,1.493597,4.807381,92772.458841
min,0.000000,0.000000,0.000000,15.988889,11.000000,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.750000,20.000000,1.000000,41.882259,25.566020,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153891.653482
50%,8393.500000,36.000000,2.000000,52.665690,37.471217,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.500000,75.000000,2.000000,66.005696,49.956390,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249100.769116
max,16798.000000,209.000000,19.000000,641.065193,638.163193,123.000000,42.000000,117.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [32]:
dt.loc[dt['HouseFloor'] > 50]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
6131,10806,5,1.0,51.944587,48.709601,1.0,6,99.0,1977,0.150818,B,B,16,3433,4,4,5,B,296127.115515
8599,9300,74,2.0,74.579809,71.747869,9.0,5,99.0,1977,0.075779,B,B,6,1437,3,0,2,B,243329.912579
8854,78,30,2.0,66.811789,65.773749,1.0,8,117.0,1977,0.000078,B,B,22,6398,141,3,23,B,207248.370520

#### 10. Скорее всего, обычная опечатка оператора. Уберем дублирующиеся цифры

In [33]:
dt.loc[dt['HouseFloor'] == 99, ['HouseFloor']] = 9

In [34]:
dt.loc[dt['HouseFloor'] > 50]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
8854,78,30,2.0,66.811789,65.773749,1.0,8,117.0,1977,0.000078,B,B,22,6398,141,3,23,B,207248.37052

In [35]:
dt.loc[dt['HouseFloor'] == 117, ['HouseFloor']] = 17

In [36]:
dt.loc[dt['HouseFloor'] > 50]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [37]:
dt.describe()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Price
count,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9.988000e+03,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000,9988.000000
mean,8382.521526,50.428714,1.891169,56.527937,41.377589,5.870799,8.524329,12.585603,3.992574e+03,0.118869,24.698538,5354.503704,8.046956,1.319984,4.232579,214074.592805
std,4859.601396,43.598871,0.839277,21.518819,22.213328,5.074437,5.233997,6.577555,2.006207e+05,0.119058,17.530997,4006.425612,23.845030,1.493597,4.807381,92772.458841
min,0.000000,0.000000,0.000000,15.988889,11.000000,0.000000,1.000000,0.000000,1.910000e+03,0.000000,0.000000,168.000000,0.000000,0.000000,0.000000,59174.778028
25%,4167.750000,20.000000,1.000000,41.882259,25.566020,1.000000,4.000000,9.000000,1.974000e+03,0.017647,6.000000,1564.000000,0.000000,0.000000,1.000000,153891.653482
50%,8393.500000,36.000000,2.000000,52.665690,37.471217,6.000000,7.000000,13.000000,1.977000e+03,0.075424,25.000000,5285.000000,2.000000,1.000000,3.000000,192269.644879
75%,12592.500000,75.000000,2.000000,66.005696,49.956390,9.000000,12.000000,17.000000,2.001000e+03,0.195781,36.000000,7227.000000,5.000000,2.000000,6.000000,249100.769116
max,16798.000000,209.000000,19.000000,641.065193,638.163193,123.000000,42.000000,48.000000,2.005201e+07,0.521867,74.000000,19083.000000,141.000000,6.000000,23.000000,633233.466570

In [38]:
dt.loc[dt['Floor'] > dt['HouseFloor']]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
7,11993,74,2.0,80.312926,80.312926,0.0,14,0.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,221244.156664
14,10953,27,1.0,53.769097,52.408027,1.0,5,4.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,140647.565937
16,2119,27,2.0,49.360648,31.993964,5.0,6,5.0,1983,5.181543e-02,B,B,5,1227,0,0,0,B,117000.381287
21,11935,27,2.0,64.711835,64.711835,1.0,15,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,127200.026511
23,6641,54,3.0,118.907612,118.907612,0.0,2,0.0,1977,6.076152e-03,B,B,30,5285,0,6,6,B,571069.052600
26,4378,27,3.0,106.958871,11.000000,0.0,17,0.0,2018,7.215758e-02,B,B,2,629,1,0,0,A,337299.867936
35,6486,200,3.0,85.280389,58.447967,9.0,6,5.0,1960,0.000000e+00,B,B,33,7425,1,2,5,B,402871.916317
39,9371,23,2.0,60.503248,60.503248,0.0,16,0.0,1977,3.465608e-02,B,B,0,168,0,0,0,B,229778.057902
44,10521,38,3.0,106.340403,104.211396,0.0,20,0.0,2017,6.075305e-02,B,B,15,2787,2,0,7,B,435462.048070
51,10103,94,1.0,35.280894,23.354176,6.0,11,9.0,1971,2.827977e-01,B,B,33,8667,2,0,6,B,148862.210174
65,11398,62,1.0,41.194188,41.194188,0.0,6,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,114063.092041
67,8443,57,2.0,45.964890,29.141212,5.0,7,5.0,1963,1.332153e-01,B,B,49,11395,3,3,4,A,180538.898922
68,1063,77,1.0,42.678844,23.918634,8.0,14,12.0,1983,6.998930e-05,B,B,46,10309,1,1,16,B,179784.473334
70,10362,27,2.0,79.227049,79.227049,0.0,9,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,167023.973143
72,14675,74,1.0,52.457589,52.423345,0.0,18,17.0,1977,7.577876e-02,B,B,6,1437,3,0,2,B,160292.163702
76,14020,34,1.0,47.909327,42.782385,1.0,2,1.0,2016,6.975336e-02,B,B,53,13670,4,1,11,B,181167.642404
86,9613,148,3.0,127.481583,127.481583,1.0,16,1.0,2012,3.139246e-01,B,B,22,4625,11,2,10,B,510700.444735
87,16674,94,2.0,47.145626,30.738284,5.0,11,9.0,1976,1.273759e-01,B,B,43,8429,3,3,9,B,210364.314719
95,4280,34,2.0,61.334968,11.000000,1.0,26,1.0,2014,6.975336e-02,B,B,53,13670,4,1,11,B,286564.441972
104,2930,9,2.0,62.347154,62.347154,1.0,6,1.0,1977,1.615317e-01,B,B,25,5648,1,2,4,B,184172.975639
115,12377,27,2.0,60.445855,60.445855,1.0,13,1.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,213798.185151
119,367,45,1.0,42.367289,40.012529,1.0,16,14.0,2015,1.957811e-01,B,B,23,5212,6,3,2,B,250466.980777
122,5267,49,1.0,43.444266,20.702409,8.0,18,17.0,2010,2.074133e-02,B,B,24,5613,5,2,5,B,168601.974805
123,8753,25,3.0,89.803753,85.952306,1.0,4,3.0,2017,6.975336e-02,B,B,53,13670,4,1,11,B,309688.592681
129,6072,6,1.0,65.102017,64.622603,1.0,10,9.0,2015,2.432045e-01,B,B,5,1564,0,0,0,B,175899.978284
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9870,309,27,1.0,37.551366,37.551366,1.0,11,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,112877.827651
9871,6121,48,1.0,41.944790,41.783808,1.0,17,1.0,2014,4.112463e-02,B,B,46,9515,5,1,10,B,200879.624324
9872,14136,12,1.0,43.711302,20.130061,8.0,18,17.0,1989,9.079910e-02,B,B,74,19083,2,5,15,B,171513.507717
9878,11441,62,2.0,72.453232,71.985335,0.0,5,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,158841.624543
9908,3171,62,1.0,35.873961,35.873961,0.0,25,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,134379.130962
9917,1901,94,1.0,45.822669,45.822669,1.0,7,1.0,1977,2.827977e-01,B,B,33,8667,2,0,6,B,229936.748542
9924,3327,145,1.0,41.093702,20.643619,8.0,18,17.0,1998,2.460315e-01,B,A,22,3151,4,3,3,B,174921.829928
9931,13355,27,2.0,64.261856,64.261856,1.0,10,1.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,223719.779293
9938,15868,9,2.0,64.412326,61.337938,1.0,13,1.0,1977,1.615317e-01,B,B,25,5648,1,2,4,B,183118.396487
9942,9369,1,2.0,56.323990,56.323990,1.0,18,17.0,1977,7.122317e-03,B,B,1,264,0,0,1,B,183882.806975
9944,16160,27,2.0,60.396765,60.396765,0.0,10,0.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,211810.600728
9949,3355,53,1.0,39.211416,36.159431,1.0,19,18.0,2019,4.963726e-02,B,B,34,7759,0,1,3,B,180600.181118
9951,9237,25,1.0,33.516313,31.086243,1.0,13,11.0,2015,6.975336e-02,B,B,53,13670,4,1,11,B,148066.435795
9954,583,27,3.0,84.250710,11.000000,1.0,15,1.0,2016,7.215758e-02,B,B,2,629,1,0,0,A,236647.781363
9958,12878,46,1.0,39.143939,22.650690,8.0,14,12.0,1981,0.000000e+00,B,B,47,11319,0,3,5,B,182459.513851
9959,10361,0,1.0,32.416925,19.257869,6.0,6,5.0,1963,3.198094e-01,B,B,25,4756,16,5,8,B,125579.315184
9962,4660,158,2.0,63.131655,41.867913,8.0,9,8.0,1939,4.203159e-02,B,B,37,6856,84,2,5,B,87268.098968
9971,16050,67,2.0,58.629682,36.330029,9.0,19,17.0,1989,1.004557e-01,B,B,43,7227,0,1,6,A,228845.682509
9973,12590,115,2.0,48.201451,33.396431,8.0,15,14.0,1972,1.800000e-09,B,B,16,3681,73,2,5,B,197405.312185
9975,5071,27,2.0,60.055527,60.055527,12.0,16,15.0,1977,7.215758e-02,B,B,2,629,1,0,0,A,190325.071232
9984,2237,52,3.0,64.074977,47.633428,6.0,11,9.0,1983,3.711490e-01,B,B,34,7065,1,2,5,B,226434.880156
9985,16159,27,1.0,38.968338,38.968338,1.0,10,1.0,1977,2.114012e-01,B,B,9,1892,0,0,1,B,95529.569405
9989,4145,96,3.0,90.055233,47.860231,11.0,26,24.0,2005,4.111635e-02,B,B,53,14892,4,1,4,B,441108.911237
9991,11553,3,3.0,101.622794,51.628780,12.0,18,17.0,2000,2.650887e-01,B,B,37,5288,0,3,2,B,212883.501504
9995,77,32,2.0,50.401785,30.476203,5.0,6,5.0,1968,1.356498e-01,B,B,46,7960,6,3,11,B,196684.316040

#### 11. Для всех нулевых значений Этажности дома я решил приравнять Этажность Дома к Этажности квартиры. А для всех остальных наблюдений поменять местами значения, допуская, что была допущена ошибка оператором.

In [39]:
dt.loc[dt['HouseFloor'] == 0, ['HouseFloor']] = dt.loc[dt['HouseFloor'] == 0, ['Floor']]

In [40]:
dt.loc[dt['HouseFloor'] == 0]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

In [41]:
dt.loc[dt['Floor'] > dt['HouseFloor'], ['Floor', 'HouseFloor']] = dt.loc[dt['Floor'] > dt['HouseFloor'], ['HouseFloor', 'Floor']].values

In [42]:
dt.loc[dt['Floor'] > dt['HouseFloor']]

Empty DataFrame
Columns: [Id, DistrictId, Rooms, Square, LifeSquare, KitchenSquare, Floor, HouseFloor, HouseYear, Ecology_1, Ecology_2, Ecology_3, Social_1, Social_2, Social_3, Helthcare_2, Shops_1, Shops_2, Price]
Index: []

#### 12. Рассмотрим года выпуска домов и исправим очевидные опечатки.

In [43]:
dt['HouseYear'].value_counts()

1977        2643
2017         308
2016         304
2015         299
2014         209
1970         194
1969         190
1972         178
1971         177
2018         175
1974         169
1968         162
1965         161
1963         158
1976         155
1973         150
1964         150
1975         150
1967         146
1966         140
1978         129
1962         125
1960         121
1961         113
1982         111
            ...
1939           6
1918           5
1933           5
1937           5
1934           4
1938           4
1951           4
1940           4
1930           3
1942           3
1936           3
1919           3
1917           3
1912           2
1929           2
1932           2
1948           2
1941           2
4968           1
1914           1
1947           1
1916           1
1910           1
1928           1
20052011       1
Name: HouseYear, Length: 97, dtype: int64

In [44]:
dt.loc[dt['HouseYear'] == 4968, ['HouseYear']] = 1968

In [45]:
dt.loc[dt['HouseYear'] == 20052011, ['HouseYear']] = 2005

In [46]:
dt['HouseYear'].value_counts()

1977    2643
2017     308
2016     304
2015     299
2014     209
1970     194
1969     190
1972     178
1971     177
2018     175
1974     169
1968     163
1965     161
1963     158
1976     155
1973     150
1964     150
1975     150
1967     146
1966     140
1978     129
1962     125
1960     121
1961     113
1982     111
        ...
1931       7
1935       7
1939       6
1918       5
1937       5
1933       5
1934       4
1938       4
1951       4
1940       4
1930       3
1936       3
1942       3
1919       3
1917       3
1912       2
1929       2
1932       2
1948       2
1941       2
1914       1
1947       1
1910       1
1928       1
1916       1
Name: HouseYear, Length: 95, dtype: int64

#### 13. Проверим аномалии в количестве комнат.

In [47]:
dt['Rooms'].value_counts()

2.0     3879
1.0     3697
3.0     2233
4.0      150
5.0       18
0.0        7
10.0       2
19.0       1
6.0        1
Name: Rooms, dtype: int64

In [48]:
dt.loc[dt['Rooms'] > 9]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
377,5927,57,10.0,59.056975,36.223072,10.0,22.0,22.0,2002,0.090799,B,B,74,19083,2,5,15,B,317265.323792
1454,8491,1,19.0,42.006046,21.779288,7.0,17.0,17.0,2014,0.007122,B,B,1,264,0,0,1,B,78364.616704
8849,14865,9,10.0,60.871266,38.420681,10.0,2.0,3.0,1994,0.161532,B,B,25,5648,1,2,4,B,172329.270863

#### Судя по всему, все три квартиры однокомнатные.

In [49]:
dt.loc[dt['Rooms'] > 9, ['Rooms']] = 1

In [50]:
dt['Rooms'].value_counts()

2.0    3879
1.0    3700
3.0    2233
4.0     150
5.0      18
0.0       7
6.0       1
Name: Rooms, dtype: int64

#### 14. Проверим цены на квартиры.

In [58]:
dt.loc[dt['Price'] < 60000]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
3605,7243,9,2.0,58.089253,52.460857,8.0,5.0,22.0,1981,0.136244,B,B,11,2370,0,0,1,B,59877.592523
9732,13237,144,2.0,51.726692,30.547287,8.0,2.0,14.0,1988,0.306977,B,B,27,5148,14,5,7,B,59174.778028

In [59]:
dt.loc[dt['Price'] > 600000]

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Helthcare_2,Shops_1,Shops_2,Price
1537,3206,54,3.0,125.117838,125.117838,1.0,1.0,4.0,1977,0.006076,B,B,30,5285,0,6,6,B,625820.041178
2442,13532,146,3.0,106.246398,64.451747,14.0,9.0,18.0,2010,0.236108,B,B,16,3893,27,3,10,B,616857.135464
2857,3876,100,4.0,104.769022,79.316650,8.0,4.0,8.0,1960,0.200147,B,B,23,3975,8,2,0,B,600903.828562
3228,15192,26,3.0,117.714551,57.440648,15.0,17.0,30.0,2012,0.000000,B,B,36,6714,2,0,2,B,624680.099059
3305,15749,66,3.0,78.747853,33.885760,11.0,2.0,5.0,1955,0.161976,B,A,31,7010,5,3,7,B,606958.937510
3890,9840,108,3.0,78.824038,53.016323,8.0,2.0,8.0,1958,0.000000,B,B,23,3684,2,0,4,B,611542.063430
3937,6808,146,3.0,106.867638,64.341756,14.0,4.0,22.0,2011,0.236108,B,B,16,3893,27,3,10,B,610557.405615
4487,13434,13,5.0,183.382273,100.985505,15.0,2.0,6.0,1997,0.090799,B,B,74,19083,2,5,15,B,622888.825328
4764,11013,43,2.0,58.757047,34.605286,8.0,12.0,17.0,2004,0.000078,B,B,22,6398,141,3,23,B,625678.644994
5494,300,31,2.0,106.427686,34.230415,32.0,4.0,40.0,2013,0.151346,B,A,32,5889,10,4,1,B,624549.354546
5743,98,54,3.0,120.968324,120.890731,1.0,1.0,7.0,2015,0.006076,B,B,30,5285,0,6,6,B,621002.912679
5890,12251,26,3.0,116.052846,56.051303,14.0,7.0,30.0,2013,0.000000,B,B,36,6714,2,0,2,B,601914.014560
6763,8479,32,4.0,115.734780,70.238395,10.0,6.0,24.0,2006,0.135650,B,B,46,7960,6,3,11,B,620399.280325
6794,13226,73,2.0,73.210349,73.210349,1.0,16.0,17.0,2019,0.042032,B,B,37,6856,84,2,5,B,633233.466570
8143,15251,17,3.0,125.017368,125.017368,0.0,24.0,NaN,1977,0.093443,B,B,23,4635,5,2,4,B,627525.072788
8501,7275,95,4.0,99.039161,71.575839,11.0,2.0,3.0,1942,0.000699,B,B,14,3369,24,0,3,B,624156.003381
9650,6323,162,3.0,93.815902,61.816690,9.0,6.0,6.0,1952,0.174739,B,B,17,3379,9,0,3,B,624008.535763
9699,4971,169,5.0,117.855969,76.561318,9.0,12.0,14.0,2001,0.178917,B,B,18,3594,4,1,5,B,608674.130507
9784,1225,157,3.0,76.460332,49.979154,8.0,8.0,9.0,1960,0.000000,B,B,30,7538,87,5,5,B,617749.118586
9828,13630,24,3.0,127.141143,11.000000,1.0,1.0,3.0,2017,0.111627,B,B,50,12238,8,2,3,B,611250.912034

#### Аномалий в ценах квартиры замечено не было.